{{ partial "header.html" . }}
<div class="row">
  <div class="col-lg-9">
    {{ $paginator := .Paginate ( .Data.Pages ) }}
    {{ range $idx, $page := $paginator.Pages }}
    {{ if $page.Section }}
    <article>
      <div class="row">
        <h3><a href="{{ .RelPermalink}}">{{ .Title }}</a></h3>
      </div>
      {{ with .Params.Tags }}
      <div class="row">
        {{ range . }}
        <a class="ml-1 badge badge-pill badge-secondary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end }}
      {{ .Summary }}
    </article>
    <hr/>
    {{ end }}
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
  <div class="col-lg-3">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
