{{ partial "header.html" . }}
<div class="row">
  <div class="col-lg-9">
    {{ range ( .Paginate ( where .Site.RegularPages "Section" "posts" )).Pages }}
    <article>
      <div class="row">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </div>
      <div class="row">
        {{ .Summary }}
      </div>
      </article>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
  <div class="col-lg-3">
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
